/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css'); */

/* Write your global styles here, in PostCSS syntax */

/* font-family: 'Dancing Script', cursive;
font-family: 'Victor Mono', monospace;
font-family: 'Open Sans', sans-serif; */

@layer components {
	body {
		@apply bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200  h-full;
	}
	html {
		@apply h-full overflow-auto;

		a {
			@apply text-pink-600  hover:text-pink-900 transition-all duration-200 underline;
		}
	}

	.logo {
		@apply flex items-center text-gray-900 dark:text-gray-100;

		.notas {
			@apply text-3xl mr-1 font-bold;
		}

		.code {
			@apply flex font-bold text-3xl odd:text-pink-500 even:font-semibold;
		}
	}

	.nav-item {
		@apply hover:border-b-2 lg:hover:border-pink-500 transition-all duration-300 border-b-2 border-transparent;
		@apply flex items-center px-3 h-min;

		a {
			@apply text-gray-900 no-underline dark:text-gray-100;
		}
	}

	.pagination {
		a {
			@apply no-underline h-8 w-8 text-center;
			@apply w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in hover:text-pink-900 text-gray-500
			 dark:text-gray-200;
		}

		.dots {
			@apply w-8 md:flex justify-center items-center hidden leading-5 transition duration-150 ease-in text-gray-500 dark:text-gray-200 h-8 text-center;
		}

		.active {
			@apply border-b-4 border-pink-900 text-pink-900 font-bold flex;
		}

		.arrow {
			@apply h-8 w-8 flex justify-center items-center cursor-pointer hover:text-pink-900 text-gray-500 dark:text-gray-200;
		}
	}

	/* ----------------------- article -----------------------*/
	.content {
		h1, h2, h3, h4, h5, h6 {
			@apply text-gray-800 dark:text-gray-200;
		}

		p {
			@apply text-pink;

			strong {
				@apply text-gray-800 dark:text-gray-200 ;
			}
		}
		
		a {
			@apply text-blue-600 dark:text-blue-300 hover:text-blue-500 no-underline hover:underline;
		}

		pre {
			@apply py-8 rounded-lg bg-blue-900 text-gray-200 !important;

			code {
				@apply whitespace-pre-wrap break-words !important;
			}
		}

		:not(pre) > code {
			@apply p-1 text-gray-200 break-words bg-blue-900 rounded-md;
		}

		table {
			@apply rounded-t-lg overflow-hidden;

			thead {
				@apply bg-teal-700;
				tr {
					th {
						@apply py-2 px-2 text-gray-100;
					}
				}
			}

			tbody {
				tr {
					@apply hover:bg-teal-700 hover:text-gray-100;
					td {
						@apply px-2;
					}
				}
			}
		}

		blockquote {
			@apply border-blue-700;
		}
	}
}
